    body{
        background-image:url(food.jpg);
        background-color:Darkgrey;
    }
    
    
    #title{
        border-radius:10px;
        background:rgba(222,184,135,0.55);
        text-align: center;
        font-size: 26px;
        color:White;
        font-family:Lato, Open Sans, sans-serif;
        
    }
    
    textarea {
    height:40px;
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
    button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
    #recipe{
        height:800px;
        width:400px;
        margin:30px;
        border-radius:10px;
        border-style:groove;
        background: rgba(222,184,135,0.55);
        color:white;
    }
